body {font-size: 100%;}
a:active{
	color: white;
}
a:visited{
	color: white;
	text-decoration: none;
}
a{
	text-decoration: none;
}
.main-nav .active li{
	font-weight: 800;
}
.top-slideshow{
	width: 100%;
	height: 700px;
	border: 1px solid black;
}
.blue{
	background-color: #005b7f;
	width: 100%;
	height: 30px;
	margin: 0;
}
/*Navigation*/
.main-nav ul:first-child{
	float: left;
	padding-left: 300px;
}
.main-nav ul{
	list-style-type: none;
	background-color: black;
	height: 30px;
	position: relative;
	top: -60px;
	z-index: -1;
	padding-left: 300px;
	padding-top: 15px;

}
.main-nav{
	height: 60px;
	position: fixed;
	width: 100%;
	z-index: 100;
	box-shadow: 2px 2px 4px black;
	

}
.main-nav li{
	display: inline;
	font-family: 'Open Sans', sans-serif;
	color: white;
	font-weight: 100;
	margin-right: 50px;
}
@media screen and (min-width: 1920px){
	.main-nav ul{
		list-style-type: none;
		background-color: black;
		height: 30px;
		position: relative;
		top: -60px;
		z-index: -1;
		padding-left: 300px;
		padding-top: 15px;
		margin-left: 325px;
	}
	.main-nav ul a:nth-child(3){
		margin-left: 275px;
	}
}
@media screen and (max-width: 960px;){
	.main-nav ul:first-child{
		float: left !important;
		margin-left: -100px !important;
	}
}
.main-nav ul a{
	-webkit-transition: opacity .3s ease-out;
    -moz-transition: opacity .3s ease-out;
    -o-transition: opacity .3s ease-out;
    transition: opacity .3s ease-out;
}
.main-nav ul a:hover{
	opacity: .6;
}
@media screen and (min-width: 1200px){
	.main-nav ul a:nth-child(3){
		margin-left: 275px;
	}
}
@media screen and (min-height: 480px;){
	.main-nav ul a:nth-child(3){
		margin-left: 50px;
	}
	.main-nav{
		list-style-type: none;
		background-color: black;
		height: 30px;
		position: relative;
		top: -60px;
		z-index: -1;
		padding-left: 300px;
		padding-top: 15px;
	}
}
.right-nav{
	float: right;
	padding-left: 0px;
	right:  500px;
	width: 299px;
	margin-top: -45px;
}
.logo-container{
	width: 200px;
	height: 60px;
	margin: 0 auto;
	background-color: #005b7f;
	box-shadow: 0 6px 4px rgba(0,0,0,.6);
	border-top: none;
}
.top-slideshow{
	/*background:url(..//images/soundview-1.jpg) top left;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position-x:0px;
	background-position-y:0px; */
	
}
/*Overlay*/
.cycle-overlay{
	width: 600px;
	text-align: center;
	/*position: absolute;
	top: 200px;*/
	line-height: 50px;
	z-index: 1;
	font-family: 'Open Sans', sans-serif;
	color: white;
	font-size: 46px;
	font-weight: 100;
	position: absolute;
	top:40%;
	right: 33%;
	z-index: 115;
	margin: 0 auto;
	background-color: rgba(0,0,0,0.6);
	padding: 50px;
	/*text-transform: uppercase;*/
	-webkit-transform: translate3d(0,0,0);
  	-moz-transform: translate3d(0,0,0);
  	-ms-transform: translate3d(0,0,0);
  	-o-transform: translate3d(0,0,0);
  	transform: translate3d(0,0,0);
}
@media screen and (min-width: 1201px){
	.cycle-overlay{
		position: absolute;
		left: 23%;
		right: 23%;
	}
}
@media screen and (min-width: 1024px) and (max-width: 1200px){
	.cycle-overlay{
		position: absolute;
		left:20%;
		right: 20%;
	}
	.cycle-pager{
		position: absolute;
		
	}
}
@media screen and (min-width: 501px) and (max-width: 1023px){
	.cycle-overlay{
		position: absolute;
		left: 0;
		right: 0;
	}
	.cycle-pager{
		position: absolute;
		
	}
}
@media screen and (max-width: 500px){
	.cycle-overlay{
		position: absolute;
		left: -10%;
		right: -10%;
	}

	.cycle-overlay{
		width: 480px;
		text-align: center;
		/*position: absolute;
		top: 200px;*/
		line-height: 50px;
		z-index: 1;
		font-family: 'Open Sans', sans-serif;
		color: white;
		font-size: 36px;
		font-weight: 100;
		position: absolute;
		top:40%;
		right: 33%;
		z-index: 115;
		margin: 0 auto;
		background-color: rgba(0,0,0,0.6);
		padding: 50px;
		/*text-transform: uppercase;*/
		-webkit-transform: translate3d(0,0,0);
	  	-moz-transform: translate3d(0,0,0);
	  	-ms-transform: translate3d(0,0,0);
	  	-o-transform: translate3d(0,0,0);
	  	transform: translate3d(0,0,0);
  	}
}
.cycle-overlay span.desc{
	font-weight: 800;
}
.cycle-slideshow:after{
  content: '';
    background: url(../images/pattern.png) repeat; 
    z-index: 200;
}
.light{
	font-family: 'Open Sans', sans-serif;
	color: white;
	font-size: 46px;
	font-weight: 100;
}

/*.cycle-overlay:nth-child(2){
	font-family: 'Open Sans', sans-serif;
	color: white;
	font-size: 36px;
	font-weight: 100;
	
}*/
.overlay{
	position: relative;
	top: 60px;
}
.overlay h1{
	font-family: 'Open Sans', sans-serif;
	color: white;
	font-size: 36px;
	font-weight: 100;
	text-align: center;
}
.overlay h2{
	font-family: 'Open Sans', sans-serif;
	color: white;
	font-size: 42px;
	font-weight: 900;
	text-align: center;
}
/*.cycle-overlay:nth-child(2){
	font-family: 'Open Sans', sans-serif;
	color: white;
	font-size: 36px;
	font-weight: 900;
	
}*/
.content-1{
	background-color: #005b7f;
	height: 925px;
	width: 100%;
	position: relative;
	top: 0;
	z-index: 90;
	/*display: none;*/
}
.content-1:last-child{
	max-height: 500px;
}
/*@media screen and (max-width: 480px){
	.content-1:first-child{
		display: none;
	}
}*/
.content-2{
	background-color: #000;
	height: 925px;
	width: 100%;
}

.black-box{
	width: 200px;
	height: 60px;
	margin: 0 auto;
	position: relative;
	top: -60px;
	background-color: black;
	z-index: 95;
}
.blue-box{
	width: 200px;
	height: 60px;
	margin: 0 auto;
	position: relative;
	top: -60px;
	background-color: #005b7f;
	z-index: 95;
}
.blue-box .arrow{
	background-image: url(../images/downarrow.png);
	/*content: '';*/
	background-repeat: no-repeat;
	background-size: 15%;
	background-position: center;
	width: 200px;
	height: 60px;
}
div.guidance p{
	color: white;
	position: absolute;
	top: -95px;
	left: 38%;
	right: 38%;
	width: 400px;
	font-family: 'Open Sans', sans-serif;
	font-style: italic;
	font-size: 80%;
}
.inner-content{
	margin: 0 auto;
	text-align: center;
	width: 400px;
}
.inner-content p{
	font-family: 'Open Sans', sans-serif;
	color: white;
	font-size: 16px;
	font-weight: 100;
	width: 400px;
	line-height: 25px;
}
.circle{
	width: 300px;
	height: 300px;
	border-radius: 150px;
	border:5px solid white;
	overflow: hidden;
	margin: 0 auto;
	margin-bottom: 30px;
}
.circle img{
	
	width: 440px;
	height: 300px;
}
.descrip-container{
	width: 90%;
	margin: 0 auto;
	position: relative;
	top: 140px;
	text-align: center;
}
.descrip{
	width: 500px;
	display: inline-block;
	text-align: center;
	margin: 0 auto;
}
.descrip h1{
	font-family: 'Open Sans', sans-serif;
	color: white;
	font-size: 26px;
	font-weight: 800;
}
.descrip p{
	font-family: 'Open Sans', sans-serif;
	color: white;
	font-size: 12px;
	font-weight: 100;
	padding: 20px;
	line-height: 25px;
	width: 70%;
	margin: 0 auto;
}
/*.cycle-overlay:nth-child(2){
	top: 100px;
}*/
.content-2-descrip{
	margin: 0 auto;
	text-align: center;
	width: 900px;
	position: relative;
	top: 200px;
	height: 100px;
	margin-top: 20px;

}

.content-2-descrip img{
	float: left;
	clear: left;
}
.content-2-descrip h2{
	font-family: 'Open Sans', sans-serif;
	color: white;
	font-weight: 800;
	float: left;
	margin-left: 100px;
}
.content-2-descrip p{
	font-family: 'Open Sans', sans-serif;
	color: white;
	font-size: 14px;
	font-weight: 100;
	float: left;
	margin-left: 100px;
	margin-top: 10px;
	text-align: left;
	width: 70%;
	line-height: 25px;
}
/*Contact*/
.contact h1, .contact h2, .contact h3, .contact p, .contact ul li, .contact address{
	font-family: 'Open Sans', sans-serif;
	color: white;
}
.contact h1, .contact h2, .contact h3{
	font-weight: 800;
	float: left;
	margin-left: 100px;
}
/*Contack Footer Links*/
/*container under short description*/
div.contact{
	height: 300px;
	width: 100%;
}
div.contact div.container{
	margin: 0 auto;
	width: 80%;
	height: 300px;
}
@media screen and (max-width: 1240px){
	div.contact div.container{
		width: 95%;
	}
}
@media screen and (max-width: 480px){
	div.contact div.container{
		width: 95%;
		margin: 0;
	}
}
/*the individual rows*/
div.contact div.row{
	display: block;
	float: left;
	width: 175px;
	height: 225px;
	margin: 45px 5px 5px;
	line-height: 1.45;
	font-size: .8em;
}
@media screen and (max-width: 480px){
	div.contact div.row{
		width: 150px;
	}
}
/*footer heading styles*/
div.contact div.row h1, div.contact div.row h2, div.contact div.row h3{
	width: 100%;
	padding: 0 0 15px;
	margin: 0;
}
/*social media links */
div.contact div.row a.circle{
	display: block;
	background: white;
	height: 64px;
	width: 64px;
	margin-left: 0;
	/*color: ;*/
}
/*View More Button*/
.button{
	background-color: #005b7f;
	clear: left;
	float: right;
	width: 100px;
	height: 10px;
	text-align: center;
	position: relative;
	top: 275px;
	right: 30%;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: 400;
	padding: 13px;
}
.button a{
	color: white;
}
.cycle-pager { 
    text-align: center; width: 100%; z-index: 500; position: absolute; top: 60%; overflow: hidden;
}
.cycle-pager span { 
    font-family: arial; font-size: 50px; width: 16px; height: 16px; 
    display: inline-block; color: rgba(255,255,255,0.3); cursor: pointer; 
}
.cycle-pager span.cycle-pager-active { color: #005b7f;}
.cycle-pager > * { cursor: pointer;}
/* prev / next links */
.cycle-prev, .cycle-next { position: absolute; top: 0; width: 30%; opacity: 0; filter: alpha(opacity=0); z-index: 800; height: 100%; cursor: pointer; }
.cycle-prev { left: 0;  background: url(http://malsup.github.com/images/left.png) 50% 50% no-repeat;}
.cycle-next { right: 0; background: url(http://malsup.github.com/images/right.png) 50% 50% no-repeat;}
.cycle-prev:hover, .cycle-next:hover { opacity: .7; filter: alpha(opacity=70) }
.cycle-slideshow { width: 100% ;-webkit-transform: translate3d(0,0,0);height: auto;
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
  -o-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);}
.cycle-slideshow img { width: 100%; height: auto }

.disabled { opacity: .5; filter:alpha(opacity=50); }

.cycle-paused:after {
    content: 'Paused'; color: white; background: black; padding: 10px;
    z-index: 500; position: absolute; top: 10px; right: 10px;
    border-radius: 10px;
    opacity: .5; filter: alpha(opacity=50);
}

.clear{
	clear: both;
}