html{
    overflow-x: hidden; /* prevents horizontal scroll bars */
    /*overflow-y: visible;*/
    -webkit-overflow-scrolling: touch;
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* disable webkit tap highlight */
    height: 100%; /* fixes focus scrolling in Safari (OS X) */
}
#container{
	overflow-x: hidden;
}
body {font-size: 100%;}
a:active{
	color: white;
}
a:visited{
	color: white;
	text-decoration: none;
}
a{
	text-decoration: none;
}
p a{
	color: white;
	text-decoration: underline;
}
p a:hover{
	text-decoration: none;
}
.main-nav .active li{
	font-weight: 800;
}
.top-slideshow{
	width: 100%;
	height: 700px;
	border: 1px solid black;
}
.blue{
	background-color: #005b7f;
	width: 100%;
	height: 30px;
	margin: 0;
}

/*Navigation*/
@media screen and (max-width: 799px){
	.blue{
		height: 5px;
	}
	.main-nav{
		height: 0;
		position: fixed;
		width: 100%;
		z-index: 100;	
	}
	.main-nav ul li{
		display: none;
	}
}
@media screen and (min-width: 661px){}
	.main-nav{
		height: 60px;
		position: fixed;
		width: 100%;
		z-index: 100;
	}
	.main-nav li{
		display: inline;
		font-family: 'Open Sans', sans-serif;
		color: white;
		font-weight: 100;
		margin-right: 50px;
	}
}
.main-nav ul:first-child{
	float: left;
	padding-left: 300px;
}
.main-nav ul{
	list-style-type: none;
	background-color: black;
	height: 30px;
	position: relative;
	top: -60px;
	z-index: -1;
	text-align: center;
	padding-top: 15px;
	padding-left: 45px;
}
@media screen and (min-width: 600px){
	.main-nav ul{
		padding-left: 0px;
	}
	.main-nav ul a:nth-child(3){
		margin-left: 195px;
	}
}
@media screen and (min-width: 800px){
	.main-nav ul{
		padding-left: 75px;
	}
	.main-nav ul a:nth-child(3){
		margin-left: 280px;
	}
}
@media screen and (min-width: 980px){
	.main-nav ul{
		padding-left: -10px;
	}
	.main-nav ul a:nth-child(3){
		margin-left: 280px;
	}
}

@media screen and (min-width: 1920px){
	.main-nav ul{
		list-style-type: none;
		background-color: black;
		height: 30px;
		position: relative;
		top: -60px;
		z-index: -1;
		text-align: center;
	}
	.main-nav ul a:nth-child(3){
		margin-left: 280px;
	}
}
@media screen and (max-width: 960px;){
	.main-nav ul:first-child{
		float: left !important;
	}
}
.main-nav ul a{
	-webkit-transition: opacity .3s ease-out;
    -moz-transition: opacity .3s ease-out;
    -o-transition: opacity .3s ease-out;
    transition: opacity .3s ease-out;
}
.main-nav ul a:hover{
	opacity: .6;
}
@media screen and (min-width: 1200px){
	.main-nav ul a:nth-child(3){
		margin-left: 275px;
	}
}
@media screen and (min-width: 480px;){
	.main-nav ul a:nth-child(3){
		margin-left: 50px;
	}
	.main-nav{
		list-style-type: none;
		background-color: black;
		height: 30px;
		position: relative;
		top: -60px;
		z-index: -1;
		padding-left: 300px;
		padding-top: 15px;
	}
}
.right-nav{
	float: right;
	padding-left: 0px;
	right:  500px;
	width: 299px;
	margin-top: -45px;
}
.logo-container{
	width: 200px;
	height: 60px;
	margin: 0 auto;
	background-color: #005b7f;
	box-shadow: 0 6px 4px rgba(0,0,0,.6);
	border-top: none;
}
@media screen and (max-width: 480px){ 
	.logo-container{
		box-shadow: none;
	}
}
.top-slideshow{
	/*background:url(..//images/soundview-1.jpg) top left;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position-x:0px;
	background-position-y:0px; */
	
}
/*Overlay*/
.cycle-overlay{
	width: 600px;
	text-align: center;
	/*position: absolute;
	top: 200px;*/
	line-height: 50px;
	z-index: 1;
	font-family: 'Open Sans', sans-serif;
	color: white;
	font-size: 46px;
	font-weight: 100;
	position: absolute;
	top:40%;
	right: 33%;
	z-index: 115;
	margin: 0 auto;
	background-color: rgba(0,0,0,0.6);
	padding: 50px;
	/*text-transform: uppercase;*/
	-webkit-transform: translate3d(0,0,0);
  	-moz-transform: translate3d(0,0,0);
  	-ms-transform: translate3d(0,0,0);
  	-o-transform: translate3d(0,0,0);
  	transform: translate3d(0,0,0);
}
@media screen and (min-width: 1201px){
	.cycle-overlay{
		position: absolute;
		left: 23%;
		right: 23%;
	}
}
@media screen and (min-width: 1024px) and (max-width: 1200px){
	.cycle-overlay{
		position: absolute;
		left:20%;
		right: 20%;
	}
	.cycle-pager{
		position: absolute;
		
	}
}
@media screen and (min-width: 721px) and (max-width: 1023px){
	.cycle-overlay{
		position: absolute;
		left: 0;
		right: 0;
	}
	.cycle-pager{
		position: absolute;
	}
}
@media screen and (min-width: 481px) and (max-width: 720px){
	.cycle-overlay{
		position: absolute;
		top: 25%;
		left: -10%;
		right: -10%;
		width: 100%;
		font-size: 32px;
		line-height: 1.5;
	}
}
@media screen and (max-width: 480px){
	.cycle-overlay{
		position: absolute;
		left: -10%;
		right: -10%;
	}

	.cycle-overlay{
		width: 480px;
		text-align: center;
		/*position: absolute;
		top: 200px;*/
		line-height: 50px;
		z-index: 1;
		font-family: 'Open Sans', sans-serif;
		color: white;
		font-size: 36px;
		font-weight: 100;
		position: absolute;
		top:20%;
		right: 33%;
		z-index: 115;
		margin: 0 auto;
		background-color: rgba(0,0,0,0.6);
		padding: 50px;
		/*text-transform: uppercase;*/
		-webkit-transform: translate3d(0,0,0);
	  	-moz-transform: translate3d(0,0,0);
	  	-ms-transform: translate3d(0,0,0);
	  	-o-transform: translate3d(0,0,0);
	  	transform: translate3d(0,0,0);
  	}
}

@media screen and (min-width: 321px) and (max-width: 360px){
	.cycle-overlay{
		width: 360px;
		text-align: center;
		/*position: absolute;
		top: 200px;*/
		line-height: 32px;
		font-family: 'Open Sans', sans-serif;
		color: white;
		font-size: 28px;
		font-weight: 100;
		position: absolute;
		top:20%;
		z-index: 115;
		margin: 0 auto;
		margin-left: -15px;
		background-color: rgba(0,0,0,0.6);
		padding: 50px auto;
	}
}
@media screen and (max-width: 320px){
	.cycle-overlay{
		width: 320px;
		text-align: center;
		/*position: absolute;
		top: 200px;*/
		line-height: 30px;
		font-family: 'Open Sans', sans-serif;
		color: white;
		font-size: 24px;
		font-weight: 100;
		position: absolute;
		top:20%;
		z-index: 115;
		margin: 0 auto;
		margin-left: -15px;
		background-color: rgba(0,0,0,0.6);
		padding: 50px auto;
		/*text-transform: uppercase;*/
		-webkit-transform: translate3d(0,0,0);
	  	-moz-transform: translate3d(0,0,0);
	  	-ms-transform: translate3d(0,0,0);
	  	-o-transform: translate3d(0,0,0);
	  	transform: translate3d(0,0,0);
  	}
}
.cycle-overlay span.desc{
	font-weight: 800;
}
.cycle-slideshow:after{
  content: '';
    background: url(../images/pattern.png) repeat; 
    z-index: 200;
}
.light{
	font-family: 'Open Sans', sans-serif;
	color: white;
	font-size: 46px;
	font-weight: 100;
}
/*.cycle-overlay:nth-child(2){
	font-family: 'Open Sans', sans-serif;
	color: white;
	font-size: 36px;
	font-weight: 100;
	
}*/
.overlay{
	position: relative;
	top: 60px;
}
.overlay h1{
	font-family: 'Open Sans', sans-serif;
	color: white;
	font-size: 36px;
	font-weight: 100;
	text-align: center;
}
.overlay h2{
	font-family: 'Open Sans', sans-serif;
	color: white;
	font-size: 42px;
	font-weight: 900;
	text-align: center;
}
@media screen and (max-width: 480px){
	.overlay h1, .overlay h2{
		font-size: 175%;
		line-height: 1.3;
	}
}
/*.cycle-overlay:nth-child(2){
	font-family: 'Open Sans', sans-serif;
	color: white;
	font-size: 36px;
	font-weight: 900;
	
}*/
/*First blue content*/
.content-1{
	background-color: #005b7f;
	height: 925px;
	width: 100%;
	position: relative;
	top: 0;
	z-index: 90;
	/*display: none;*/
}
/*Contact area*/
.content-1:last-child{
	height: 500px !important;
}
@media screen and (max-width: 360px){
	.content-1:last-child{
		height: 1205px !important;
	}
}
@media screen and (min-width: 481px) and (max-width: 640px){
	.content-1:last-child{
		height: 905px !important;
	}
}
@media screen and (min-width: 361px) and (max-width: 480px){
	.content-1:last-child{
		height: 905px !important;
	}
}
@media screen and (max-width: 799px){
	.content-1:nth-child(4){
		height: 2050px;
	}
}
@media screen and (min-width: 800px) and (max-width: 980px){
	.content-1:nth-child(4){
		height: 1925px;
	}
}
@media screen and (min-width: 981px) and (max-width: 1239px){
	.content-1:nth-child(4){
		height: 1450px;
	}
}
@media screen and (min-width: 1240px){
	.content-1:nth-child(4){
		height: 1350px;
	}
}
@media screen and (min-width: 1920px){
	.content-1:nth-child(4){
		height: 1080px;
	}
}
/*@media screen and (max-width: 480px){
	.content-1:first-child{
		display: none;
	}
}*/
/*Middle content*/
.content-2{
	background-color: #000;
	height: 925px;
	width: 100%;
}
@media screen and (max-width: 480px){
	.content-2:nth-child(5){
		height: 1275px;
	}
}
/*Top boxes*/
.black-box{
	width: 200px;
	height: 60px;
	margin: 0 auto;
	position: relative;
	top: -60px;
	background-color: black;
	z-index: 95;
}
.blue-box{
	width: 200px;
	height: 60px;
	margin: 0 auto;
	position: relative;
	top: -60px;
	background-color: #005b7f;
	z-index: 95;
}
.blue-box:nth-child(1){
	display:none;
}
@media screen and (max-width: 480px){
	.blue-box, .black-box{
		width: 100px;
		height: 30px;
		top: -30px;
		position: relative;
	}	
	.blue-box a.scrolldown div.arrow{
		width: 100px;
		height: 30px;
		text-align: center;
	}
}

/*Scroll down arrow*/
.blue-box .arrow{
	background-image: url(../images/downarrow.png);
	background-repeat: no-repeat;
	background-size: 15%;
	background-position: center;
	width: 200px;
	height: 60px;
}
/*Scroll down paragraph*/
div.guidance p{
	color: white;
	position: absolute;
	top: -95px;
	width: 325px;
	font-family: 'Open Sans', sans-serif;
	font-style: italic;
	font-size: 80%;
}
@media screen and (width: 480px){
	div.guidance p{
		left: 20%;
		right: 20%;
	}
}
@media screen and (max-width: 799px){
	div.guidance p{
		display: none;
	}
}
@media screen and (min-width: 800px){
	div.guidance p{
		left: 32%;
		right: 32%;
	}
}
@media screen and (min-width: 980px){
	div.guidance p{
		left: 35.5%;
		right: 35.5%;
	}
}
@media screen and (min-width: 1280px){
	div.guidance p{
		left: 38%;
		right: 38%;
	}
}
@media screen and (min-width: 1920px){
	div.guidance p{
		left: 42.5%;
		right: 42.5%;
	}
}
.inner-content{
	margin: 0 auto;
	text-align: center;
	width: 400px;
}
.inner-content p{
	font-family: 'Open Sans', sans-serif;
	color: white;
	font-size: 16px;
	font-weight: 100;
	width: 400px;
	line-height: 25px;
}
@media screen and (max-width: 320px){
	.inner-content p{
		width: 300px;
		padding: 5px;
		margin-left: -5px;
	}
	.inner-content{
		margin: 0 auto;
		text-align: center;
		width: 300px;
	}
}
@media screen and (min-width: 321px) and (max-width: 360px){
	.inner-content p{
		width: 320px;
		padding: 5px 15px;
		margin-left: -15px;
	}
	.inner-content{
		margin: 0 auto;
		text-align: center;
		width: 320px;
	}
}
/*Circles! All of the circles!*/
.circle{
	width: 300px;
	height: 300px;
	border-radius: 150px;
	border:5px solid white;
	overflow: hidden;
	margin: 0 auto;
	margin-bottom: 30px;
}
.circle img{
	width: 440px;
	height: 300px;
}
@media screen and (max-width: 320px){
	.circle{
		width: 225px;
		height: 225px;
		border-radius: 50%;
		border: 5px solid white;
		overflow: hidden;
		margin: 0 auto;
		margin-bottom: 30px;
	}
	.circle img{
		width: 330px;
		height: 225px;
	}
}
.descrip-container{
	width: 90%;
	margin: 0 auto;
	position: relative;
	top: 140px;
	text-align: center;
}
.descrip{
	width: 500px;
	display: inline-block;
	text-align: center;
	margin: 0 auto;
}
@media screen and (max-width: 480px){
	.descrip{
		width: 100%;
	}
}
.descrip h1{
	font-family: 'Open Sans', sans-serif;
	color: white;
	font-size: 26px;
	font-weight: 800;
}
.descrip p{
	font-family: 'Open Sans', sans-serif;
	color: white;
	font-size: 12px;
	font-weight: 100;
	padding: 20px;
	line-height: 25px;
	width: 70%;
	margin: 0 auto;
}
/*.cycle-overlay:nth-child(2){
	top: 100px;
}*/
.content-2-descrip{
	margin: 0 auto;
	text-align: center;
	width: 900px;
	position: relative;
	top: 200px;
	height: 100px;
	margin-top: 20px;
}
.content-2-descrip img{
	float: left;
	clear: left;
}
.content-2-descrip h2{
	font-family: 'Open Sans', sans-serif;
	color: white;
	font-weight: 800;
	float: left;
	margin-left: 100px;
}
.content-2-descrip p{
	font-family: 'Open Sans', sans-serif;
	color: white;
	font-size: 14px;
	font-weight: 100;
	float: left;
	margin-left: 100px;
	margin-top: 10px;
	text-align: left;
	width: 70%;
	line-height: 25px;
}
@media screen and (max-width: 800px){
	.content-2-descrip{
		width: 600px;
	}
}
@media screen and (max-width: 480px){
	.content-2-descrip{
		width: 100%;
	}
	.content-2-descrip img{
		padding: 25px 42.5%;
	}
}
@media screen and (max-width: 360px){
	.content-2-descrip{
		width: 100%;
	}
	.content-2-descrip img{
		
	}
}
@media screen and (max-width: 360px){
	.content-2-descrip{
		width: 300px;
	}
	.content-2-descrip img{
		padding: 25px 36%;
	}
	.content-2-descrip h2{
		margin-left: 30px;
	}
	.content-2-descrip p{
		font-family: 'Open Sans', sans-serif;
		color: white;
		font-size: 14px;
		font-weight: 100;
		float: left;
		margin-left: 30px;
		margin-top: 10px;
		text-align: left;
		width: 85%;
		line-height: 25px;
	}
}
/*Contact*/
.contact h1, .contact h2, .contact h3, .contact p, .contact ul li, .contact address{
	font-family: 'Open Sans', sans-serif;
	color: white;
}
.contact h1, .contact h2, .contact h3{
	font-weight: 800;
	float: left;
	margin-left: 100px;
}
/*Contack Footer Links*/
/*container under short description*/
div.contact{
	height: 400px;
	width: 100%;
}
div.contact div.contactcontainer{
	margin: 0 auto;
/*	max-height: 320px;
	max-width: 820px;
	min-width: 320px;*/
}
@media screen and (max-width: 480px){
	div.contact div.contactcontainer{
		width: 95%;
		margin: 0;
	}
}
/*the individual rows*/
div.contact div.row{
	text-align: left;
	display: block;
	float: left;
	width: 85px;
	max-height: 225px;
	margin: 45px 5px 5px;
	padding: 5px 20px 5px 0;
	line-height: 1.45;
	font-size: .8em;
	position: relative;
}
div.contact div.row:nth-child(1){
	width: 165px;
}
div.contact div.row:nth-child(4){
	width: 175px;
}
div.contact #map-canvas{
	width: 30%;
	height: 100%;
	overflow: hidden;
}
@media screen and (max-width: 800px){
	div.contact #map-canvas{
		height: 50%;
	}
}
div.contact .inner-content{
	background-color: #234C72;
	float: left;
	padding: 15px 10px;
	width: 30%;
	height: 100%;
	margin: 0 20px 0 0;
	text-align: left;
}
div.contact .inner-content h2{
	color: #56A3BB;
	margin-left: 0;
	font-size: 1.2em;
	position: relative !important;
	z-index: 200 !important;
}
div.contact .inner-content h2:after, div.contact .inner-content h2:before{
	clear: both;
}
@media screen and (max-width: 640px){
	div.contact .inner-content, div.contact #map-canvas{
		width: 100%;
		height: 100%;
	}
}
div.contact .inner-content p{
	width: 90% !important;
	margin-top: 15px;
	position: relative !important;
	z-index: 200 !important;
}
div.contact div.row:after, div.contact div.row:before{
	content: "";
	clear: both;
}
@media screen and (max-width: 480px){
	div.contact div.row{
		width: 150px;
	}
}
/*footer heading styles*/
div.contact div.row h1, div.contact div.row h2, div.contact div.row h3{
	width: 100%;
	padding: 0 0 15px;
	margin: 0;
	color: #56A3BB;
}
/*social media links */
div.contact div.row a.circle{
	display: block;
	border: none;
	background: white;
	height: 32px;
	width: 32px;
	margin-left: 0;
	margin-right: 10px;
	float: left;
	transition: opacity .5s ease-out;
}
div.contact div.row a.circle:hover{
	opacity: .65;
}
@media screen and (max-width: 480px){
	div.contact div.row:nth-child(2){
		width: 175px;
	}
}
div.contact div.row a.circle:before{
	content: "";
	clear: both;
}
div.contact div.row a.circle i{
	text-align: center;
	margin-top: 4px;
	color: #005B7F;
	display: block;
}
div.contact div.row a.circle:nth-child(3):after{
}
div.contact div.row:last-child a{
	text-decoration: underline;
	color: white;
	transition: opacity .2s ease-out;
}
div.contact div.row:last-child a:hover{
	opacity: .65;
}
div.copy{
	font-size: .75em;
	height: 20px;
	float: left;
	clear: both;
	padding: 15px 5px 0;
	margin-left: 3.3%;
}
/*div.contact div.row a.circle:nth-child(4), div.contact div.row a.circle:nth-child(5){
	float: right;
	position: relative;
}
div.contact div.row a.circle:nth-child(4){
	margin-top: -210px;
}
div.contact div.row a.circle:nth-child(5){
	clear: both;
	margin-top: -105px;
}*/
/*View More Button*/
.button{
	background-color: #005b7f;
	transition: background .25s ease-out;
	clear: left;
	float: right;
	width: 100px;
	height: 15px;
	text-align: center;
	position: relative;
	top: 275px;
	right: 30%;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: 400;
	padding: 13px;
	cursor: pointer;
}
.button:hover{
	background-color: #234C72;
}
.button a{
	color: white;
}
/*Cycle pager (little circle links)*/
.cycle-pager { 
    text-align: center; width: 100%; z-index: 500; position: absolute; top: 60%; overflow: hidden;
}
@media screen and (max-width: 720px){
	.cycle-pager{
		/*Are they needed on smaller screens?*/
		display: none;
	}
}
@media screen and (min-width: 721px) and (max-width: 979px){
	.cycle-pager{
		top: 70%;
	}
}
@media screen and (min-width: 980px){
	.cycle-pager{
		top: 75%;
	}
}
.cycle-pager span { 
    font-family: arial; font-size: 50px; width: 16px; height: 16px; 
    display: inline-block; color: rgba(255,255,255,0.3); cursor: pointer; 
}
.cycle-pager span.cycle-pager-active { color: #005b7f;}
.cycle-pager > * { cursor: pointer;}
/* prev / next links */
.cycle-prev, .cycle-next { position: absolute; top: 0; width: 30%; opacity: 0; filter: alpha(opacity=0); z-index: 800; height: 100%; cursor: pointer; }
.cycle-prev { left: 0;  background: url("../images/leftarrow.png") 50% 50% no-repeat; background-size: 25%;}
.cycle-next { right: 0; background: url("../images/rightarrow.png") 50% 50% no-repeat; background-size: 25%;}
.cycle-prev:hover, .cycle-next:hover { opacity: .7; filter: alpha(opacity=70) }
@media screen and (min-width: 800px){
	.cycle-prev, .cycle-next{
		background-size: 20%;

	}
	.cycle-prev{
		background-position: center left;
	}
	.cycle-next{
		background-position: center right;
	}
}
@media screen and (min-width: 481px) and (max-width: 960px){
	.cycle-prev { left: 0;  background: url("../images/leftarrow.png") 35% 60% no-repeat; background-size: 25%;}
	.cycle-next { right: 0; background: url("../images/rightarrow.png") 35% 60% no-repeat; background-size: 25%;}
}
@media screen and (max-width: 480px){
	.cycle-prev, .cycle-next{
		position: relative;
		display: none;
	}
}
/*Slideshow*/
.cycle-slideshow { width: 100% ;-webkit-transform: translate3d(0,0,0);height: auto;
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
  -o-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);}
.cycle-slideshow img { width: 100%; height: auto }

@media screen and (max-width: 480px){
	.cycle-slideshow img{
		width: 150%;
		height: 150%;
	}
	.cycle-slideshow{
		overflow: hidden;
	}
}

.disabled { opacity: .5; filter:alpha(opacity=50); }

.cycle-paused:after {
    content: 'Paused'; color: white; background: black; padding: 10px;
    z-index: 500; position: absolute; top: 10px; right: 10px;
    border-radius: 10px;
    opacity: .5; filter: alpha(opacity=50);
}

.clear{
	clear: both;
}

/*Extra content*/
div.studio div.content-2, div.services div.content-2{
	color: white;
	font-family: 'Open Sans', sans-serif;
	font-weight: 100;
	line-height: 1.4;
	font-size: 90%;
}
div.services div.content-2{
	min-height: 1450px;
}
@media screen and (max-width: 800px){
	div.services div.content-2{
		min-height: 1550px;
	}
}
@media screen and (max-width: 360px){
	div.services div.content-2{
		min-height: 1700px;
	}
}
div.studio div.content-2{
	background: url("../images/soundview-3.jpg") no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

@media screen and (max-width: 1920px){
	div.studio div.content-2{
		height: 1925px;
	}
}
@media screen and (max-width: 800px){
	div.studio div.content-2{
		height: 1525px;
	}
}
div.services div.content-2{
	background: url("../images/soundview-1.jpg") no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
div.services div.content-2 .content-2-descrip ul, div.services div.content-2 .content-2-descrip h3{
	text-align: left;
	float: left;
	display: block;
	width: 70%;
}
div.services div.content-2 .content-2-descrip .overlay h2{
	text-align: center;
	margin: 20px 0 15px 100px;
}
div.services div.content-2 .content-2-descrip h3{
	font-weight: 100;
	font-size: 125%;
	margin: 10px 0 5px 100px;
}
div.services div.content-2 .content-2-descrip ul{
	margin: 5px 0 5px 125px;	
}

@media screen and (max-width: 360px){
	div.services div.content-2 .content-2-descrip .overlay h2{
	text-align: center;
	margin: 20px 0 20px 30px;
}
div.services div.content-2 .content-2-descrip h3{
	font-weight: 100;
	font-size: 125%;
	margin: 10px 0 15px 30px;
}
div.services div.content-2 .content-2-descrip ul{
	margin: 10px 0 15px 45px;	
}
}

div.studiocontainer{
	width: 100%;
	margin-top: 435px;
	position: relative;
	display: block;
}
@media screen and (max-width: 800px){
	div.studiocontainer{
		margin-top: 555px;
	}
}
@media screen and (max-width: 360px){
	div.studiocontainer{
		margin-top: 645px;
	}
}
div.studios{
	background-color: #005B7F;
	width: 70%;
	margin: 25px auto;
	height: 175px;
}
@media screen and (max-width: 800px){
	div.studios{
		height: 100px;
	}
}
@media screen and (max-width: 640px){
	div.studios{
		width: 100%;
	}
}
div.studios img{
	float: right;
	height: 100%;
	width: 60%;
	background: rgba(0,0,0,0.25);
}
div.studios img:after, div.studios img:before{
	clear: both;
	content: ' ';
}
div.studios:nth-child(even) img{
	float: left;
}
div.studios h2{
	font-weight: 800;
	font-size: 1.5em;
}
div.studios h2:after, div.studios h2:before{
}
div.studios h2, div.studios p{
	margin-left: 15px;
}
div.studios:nth-child(even) h2, div.studios:nth-child(even) p{
	margin-left: 61%;
}
/*#F26522*/